body, html{ width: 100%; height: 100% ; background-color: #00ffe7;}
.nav-brand{
    background-color: chartreuse;
    padding: 2%;
    text-decoration: none;
}
.navbar{
    width: 200px;
    margin-top: 1.5%;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.bg-light{
    background-color: white;
} 
.bg-dark{
background-color: black;
}
/*
a:hover = quand on passe sur un lien
a:active = quand on clique dessus
*/
a:hover{ 
    animation-duration: 2s;
    animation: rainbow; 
}

a:active{
 /*activer un son           */
}

@keyframes rainbow {
    from{
        background-color: chartreuse;
    }
    to{
        background-color: aqua;
    }
}