.elfique, nav a {
    font-family: 'Arial', serif !important;
}

p,h1,h2,h4,footer,ul,a{
    font-family: 'Arial', serif;
    font-size: 120%;
}

@font-face {
    font-family: 'Japanese';
    src: url('police/Almost\ Japanese.ttf') format('truetype');
}